/*less this!*/	
* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
body {
	overflow-x: hidden!important;
	background-color: #ff5400!important;
}
body::-webkit-scrollbar-track-piece {
  background-color: #000000!important;
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
	background-color: #F5F5F5!important;
    	visibility: hidden!important;
}
body::-webkit-scrollbar {
	width: 10px!important;
	background-color: #F5F5F5!important;
  	visibility: hidden!important;
}
body::-webkit-scrollbar-thumb {
	background-color: #013BA6!important;
	height: 100px!important;	
}
.movie-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: auto;
    max-width: 388px;
    max-height: 270px;	
}
#close {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-position: center;
}

#close:hover {
	cursor: pointer;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	font-size: 32px;
	z-index: 2;
}
.hover-luz:hover {
	-webkit-box-shadow: 0px 0px 30px 2px rgba(255, 255, 255, 1);
	-moz-box-shadow:    0px 0px 30px 2px rgba(255, 255, 255, 1);
	box-shadow:         0px 0px 30px 2px rgba(255, 255, 255, 1);
}
.hover-pointer:hover {
	cursor: pointer;
}
.movie-box {
	padding-top:22px;
	padding-bottom:22px;
	background: #ff5400;
	min-height: 340px;
}
.movie-box img:hover {
	cursor: pointer;
}
.movie-box-::after {
    /*background-color: #292484;*/
	background-image:-webkit-linear-gradient(-45deg,#dc4225,#292484);
	background-image:-moz-linear-gradient(-45deg,#dc4225,#292484);
	background-image:-o-linear-gradient(-45deg,#dc4225,#292484);
	background-image:linear-gradient(-45deg,#dc4225,#292484);
   	opacity: .2;
   	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:-1;
}	
#images{padding:0px;margin:0px;position:fixed;float:left;z-index:10000;clear:both;top:50%;left:50%;margin-top:-200px;margin-left:-400px;}
.bg-overlay {
	width: 100%;
	height: 110%;
	background-color: #ff5400;
	z-index: 1;
	display: block;
	position: fixed;
	top: 0px;
	opacity: 0.3;
}
.movie_rating_star {
	text-align:center;
	color: #ffd700;
	margin-top: 5px;
	visibility: hidden;
}
.movie_rating_star_details {
	text-align:center;
	color: #ffd700;
	margin-top: 5px;
}	
div[id^="movie-rating-star-"] {
	visibility:hidden;
    position: absolute;
    bottom: 0%;
    left: 50%;
	transform: translate(-50%,0);
	font-size: 12px;	
}
.title_movie_background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 300px;
	display: table;
	width: 100%;
	margin: 0;
	z-index: 5;
}
.title_movie_background_black {
	background-color: #ff5400;
	min-height: 300px;
	display: table;
	width: 100%;
	margin: 0;
	z-index: 10;
}
.title_movie {
	display: table-cell;
	vertical-align: middle;
	font-size:50px;
	color: #fff;
	font-family: inherit;
	font-weight: bold;
	text-align: center;
	line-height: 50px;		
	letter-spacing: -1px;
	text-shadow: 0px 0px 10px black;
}	
.title_movie span {
	color: #ffd700;
	font-size: 20px;
}
body::-webkit-scrollbar-track-piece:horizontal {display: none!important;}
body::-webkit-scrollbar-track:horizontal {display: none!important;}
body::-webkit-scrollbar:horizontal {display: none!important;}
body::-webkit-scrollbar-thumb:horizontal {display: none!important;}
/*new detail ui*/
		#bg-yts {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			min-height: 700px;
			height: auto;
			-webkit-box-shadow: inset 0px 0px 250px 50px rgba(0, 0, 0, 1);
			-moz-box-shadow: inset 0px 0px 250px 50px rgba(0, 0, 0, 1);
			box-shadow: inset 0px 0px 250px 50px rgba(0, 0, 0, 1);	
		}
		#head-detail {
			width: 100%;
			max-width: 1280px;
			margin: 0 auto;
			top: 250px;
    		position: relative;						
		}
		#poster-yts {
			height: auto;
			min-height: 440px;
			line-height: 400px;	
			text-align: center;
			position: relative;		
		}
		#poster-yts img{
  			vertical-align: middle;
			height: 345px;
			margin-left: auto;
			margin-right: auto;
		}
		p.title-yts-p {
			text-align: center;
		    font-size: 60px;
		    color: #fff;
		    font-family: 'Open Sans', sans-serif;
		    font-weight: bold;
		    text-align: center;
		    line-height: 50px;
		    letter-spacing: -1px;
		    text-shadow: 0px 0px 10px black;
		    min-height: 50px;
		    height: auto;
		    padding-top: 60px;
		    display: block;
		    clear: both;
		    text-transform: uppercase;
		}
		#details {
			height: 500px;
			float: right;
			position: relative;
		}
		@media (max-width: 991px) {
			#details {
				display: none;
			}
			#bg-yts-play {
				top: 290px!important;
			}
		}
		p.little-title-p {
			color: #fff;
		    font-family: 'Open Sans', sans-serif;
			text-align: center;
			font-size: 13px;
			height: 20px;
			position: relative;					
		}
		.title-yts-p {
			width: 100%;
		    text-align: center;
		}
		.title-yts-p span {
		    color: #ffd700;
		    font-size: 20px;
		}		
	
		#bg-yts-play {
			position: absolute;
			left: 50%;
			margin-left: -80px;
			top: 250px;
			z-index: 2;
		}
		#bg-yts-play:hover {
			cursor: pointer;
		}
		#dl_status_active-error {
			background: #ff005a;
			border-radius: 0px;
			border: 0;
			font-weight: bold;
			margin: 0 auto;
			min-width: 800px;
    		width: 100%;
		}
		#dl_status_active-error:hover {
			background: #BF0043;
		}

/*PRELOADER*/
#preloader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 100000;
}
.cssload-container {
    position: absolute;
    top: 50%;
    left: 50%;
}
.cssload-whirlpool,.cssload-whirlpool::after,.cssload-whirlpool::before{position:absolute;top:50%;left:50%;border:1px solid rgba(1,59,166,.2);border-left-color:#0c2aed;border-radius:774px;-o-border-radius:774px;-ms-border-radius:774px;-webkit-border-radius:774px;-moz-border-radius:774px}
.cssload-whirlpool{margin:-19px 0 0 -19px;height:39px;width:39px;animation:cssload-rotate 1.15s linear infinite;-o-animation:cssload-rotate 1.15s linear infinite;-ms-animation:cssload-rotate 1.15s linear infinite;-webkit-animation:cssload-rotate 1.15s linear infinite;-moz-animation:cssload-rotate 1.15s linear infinite}
.cssload-whirlpool::before{content:"";margin:-18px 0 0 -18px;height:34px;width:34px;animation:cssload-rotate 1.15s linear infinite;-o-animation:cssload-rotate 1.15s linear infinite;-ms-animation:cssload-rotate 1.15s linear infinite;-webkit-animation:cssload-rotate 1.15s linear infinite;-moz-animation:cssload-rotate 1.15s linear infinite}
.cssload-whirlpool::after{content:"";margin:-22px 0 0 -22px;height:43px;width:43px;animation:cssload-rotate 2.3s linear infinite;-o-animation:cssload-rotate 2.3s linear infinite;-ms-animation:cssload-rotate 2.3s linear infinite;-webkit-animation:cssload-rotate 2.3s linear infinite;-moz-animation:cssload-rotate 2.3s linear infinite}@keyframes cssload-rotate{100%{transform:rotate(360deg)}}@-o-keyframes cssload-rotate{100%{-o-transform:rotate(360deg)}}@-ms-keyframes cssload-rotate{100%{-ms-transform:rotate(360deg)}}@-webkit-keyframes cssload-rotate{100%{-webkit-transform:rotate(360deg)}}@-moz-keyframes cssload-rotate{100%{-moz-transform:rotate(360deg)}}

.steps {
	font-size: 14px;
}
.steps > a { 
	color: #ffffff!important;
	text-decoration: none;
}
.steps > a:hover {
	color: #ffffff!important;
	text-decoration: none;
}
.steps > a:visited {
	color: #ffffff!important;
	text-decoration: none;	
}
img.chrome {
	width: 206px;
    margin: 0 auto;
    margin-top: 14px;
}
#steps {
	top: 80%;
    position: relative;
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;    
    text-align: center;
	padding: 0px 150px;    
	display: none;
}
.steps-b-r {
	border-right: 1px rgba(255, 255, 255, 0.25) solid;
}
#steps_reload-img {
	margin-top: 15px;
}
#steps_enjoy-img {
	margin-top: 10px;	
}
.fa-refresh, .fa-smile-o {
	font-size: 62px!important;
	margin-top: 14px;
}
.fa-smile-o {
	font-size: 62px!important;
	margin-top: 3px;
}
#player-container {
	width: 100%;
	height: 100vh;
	background: #000000;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	z-index: 11;
}
video#player {
	width: 100%;
    height: 100vh;
}
video:focus {
	border: none!important;
	outline: none!important;
}

video#player div.videosub-bar {
	height: 100px!important;
	width: 100%!important;
    position: absolute;
    bottom: 140px;
    padding: 0px 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 32px;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 1px 1px 0px;
}

video::cue {
    background: unset!important;
    border-radius: 2px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: .2em .5em;
    white-space: pre-wrap;
	font-size: 7vh!important;
	line-height: 125%;
    font-weight: 600!important;
	color: #ffca00!important;
	transform: translateY(-100px)!important;
	background: linear-gradient(to bottom, rgba(255,204,0,1) 0%, rgba(248,80,50,1) 100%);
	-webkit-background-clip: text;         
	text-shadow: 0px 2px 3px #000000;
	-webkit-text-stroke: 1px black;
	text-shadow:
	  3px 3px 0 #000,
	  -1px -1px 0 #000,  
	  1px -1px 0 #000,
	  -1px 1px 0 #000,
	  1px 1px 0 #000;   	
}

@media (max-width: 991px) {
	#icon-facebook {

	}
	#icon-twitter {

	}
	#icon-github {
		display: none;
	}
	#icon-reddit {
		display: none;
	}
}
